body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

#gameTitle {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}

#buttonsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 10px;
    padding: 10px;
}

button {
    width: 100px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#pauseButton {
    background-color: #2196F3;
}

#pauseButton:hover {
    background-color: #0b7dda;
}

#restartButton {
    background-color: #4caf50;
    visibility: hidden;
}

#restartButton:hover {
    background-color: #45a049;
}

#gameCanvas {
    width: 80%;
    height: 80vh;
    max-width: 800px;
    max-height: 800px;
    background-color: #000;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}